<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hmdm.kyocera.notifications">

    <application
        android:label="Notifications"
        android:icon="@drawable/ic_notifications">

        <activity
            android:name=".NotificationShortcutActivity"
            android:theme="@android:style/Theme.NoDisplay"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>